.toggle {
  border-radius: 6%;
  /* border-color: #B8ADF0; */
  border-width: 2px;
  font-family: "Dosis-regular";
  font-size: 15px;
  font-weight: 2px;
  /* background-color:#8b7dcf; */
  /* color: white; */
}
.card-header {
  display: flex;
  flex-direction: row;
  margin: 0;
}
.weather-icon {
  height: 80%;
  width: auto;
  justify-content: center;
}

.weather-card {
  display: flex;
  flex-direction: column;
  font-family: Neucha-Regular;
  height: 80%;
  width: 25%;
  align-items: center;
  margin: 0;
  gap: 15px;
  border-radius: 30px;
  box-shadow: rgba(73, 105, 161, 0.25) 0px 4px 8px -2px,
    rgba(229, 216, 167, 0.08) 0px 0px 0px 1px;
}

.weather-card-light {
  color: rgb(21, 13, 74);
  background-color: hsl(268, 100%, 91%, 0.3);
}

.weather-card-dark {
  color: rgb(21, 13, 74);
  background-color: #f2f0f5;
}

.weather-info {
  align-items: center;
    margin-top: 14.5%;
  width: 35.5vh;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  position: absolute;
  z-index: 3;
}

.weather-info-light{
  background-color:rgb(178, 216, 255);
}
.weather-info-dark{background-color: #ccabeb;}
.weather-description-container {
  display: flex;
  height: 22%;
  width: 68%;
   justify-content: space-evenly;
  align-items: center;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
  

  .weather-description-container-light{ background-color: #8ec5fc;
  background-image: linear-gradient(
    315deg,
    #8ec5fc 0%,
    #e7d2ff 53%,
    #fff8ea 100%)}

  .weather-description-container-dark{color: white;
    background-color: #EAC6FE;
    background-image: linear-gradient(135deg, #EAC6FE 0%, #A177CA 18%, #8457AF 39%, #2C4C9B 65%, #150D4A 100%);}

.wind-speed,
.visibility,
.humidity {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.temp {
  display: flex;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.pin {
  height: 30px;
  width: 30px;
}
