@font-face {
  font-family: 'Dosis-Regular';
  src: url('./Assets/Dosis/static/Dosis-Regular.ttf');
}

@font-face {
  font-family: 'Karla-Regular';
  src: url('./Assets/Karla/static/Karla-Regular.ttf');
}

@font-face {
  font-family: 'Martel-Regular';
  src: url('./Assets/Martel/Martel-Regular.ttf');
}

@font-face {
  font-family: 'Neucha-Regular';
  src: url('./Assets/Neucha/Neucha-Regular.ttf');
}

body, #root{
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
#root>div{
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.App-Dark{
  background-color: black;
}

.App-Light{
    background: hsl(212, 100%, 93%); 
}

.findCity{
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 10px
  
}

