.five-day-container{
    width: 400px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    gap:6px;
    /* display:grid;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr, 1fr!important;
    grid-template-rows: 1!important; */
   
}

.fiveDaySingleCard{
    display: flex;
    flex-direction: column;
    width: 75px;
    font-family: Dosis-Regular;
    /* background-color: white; */
    border-radius: 4%;
    justify-content: center;
    align-items: center;
    
}



img {
    height: 50px;
    width: 50px;
}

